
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
    
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </table>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $.getJSON("Index1",
                function (json) {
                    var tr;
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].Id + "</td>");
                        tr.append("<td>" + json[i].name + "</td>");
                        $('table').append(tr);
                    }
                });
        });
    </script>
</body>
</html>
